body{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(247, 225, 194);
}

img{
    width: 25%;
    height: auto;
    margin: 0 0.5%;
}

#categoriesImg{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    margin: 20px;
    width: 130%;
    background-color: rgb(184, 199, 144);
    color: white;
    text-decoration: none;
    font-size: 125%;
}